<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dani Animals 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
      #page-content {
        margin-top: 50px;
        margin-left: 50px;
      }
      table, th, td {
        border: 1px solid black;
      }
      th, td {
        padding: 5px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div id="page-content" class="container-flex">
      <h1>Hello from Dani Animals 4!</h1>
      <p>There's not much here yet, but let's do a role-call anyway:</p>
      
      <table width="600">
        <thead>
          <tr>
            <th width="30%" >Name</th>
            <th width="30%">Type</th> 
            <th width="10%">Age</th>
            <th width="30%">Color</th>
          </tr>
        </thead>
        <tbody id="animals">
          
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      function getAllAnimals() {
        $.ajax({
          method: "GET",
          url: "/api/v1",
          success: (data) => {
            data.forEach(animal => {
              $('#animals').append(`<tr><td>${animal.name}</td><td>${animal.type}</td><td>${animal.age}</td><td>${animal.color}</td></tr>`)
            })
          }
        })
      }
      getAllAnimals()
    </script>
  </body>
</html>