<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <style>
        #koala-facts{
          max-width: 400px;
        }
      </style>
  </head>
  <body>
    <div id="koala-facts" class="container text-center">
      <br/>
      <img src="./images/koala_friends.png" alt="Koala friends" height="350">
      <br/>
      <br/>
      <h1>KOA Koala</h1>
      <h3 class="text-secondary">A Directory of Koala Attributes</h3>
      <ul class="list-group">
        <% attributes.forEach (function(attribute) { %>
          <li class="list-group-item list-group-item-action">
            <span class="text-secondary"><%= attribute.meta_name %>: </span><%= attribute.meta_value %>
          </li>
        <% }) %>
      </ul>
      <br/>
      <div class="text-secondary">Served up to you by worker <%= worker %></div>
    </div>
  </body>
</html>

